@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: #485461;
    background-image: linear-gradient(315deg, #30373e 0%, #20262d 74%);
    min-height: 100vh;
    animation: onscrollappear linear;
    animation-timeline:view() ;
    animation-range: entry 0;
    
}

@keyframes onscrollappear {
    from { opacity : 0; scale: 0.5; }
    to { opacity : 1; scale: 1;}
}

.lst_item>img{
    height:240px ;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}
.imgslst{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 10px;
}

.lst_item{
    filter: brightness(0);
    opacity: 0.1;
    transition-duration: 0.5s;
    margin: 3px;
    
}

.lst_item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
    opacity: 1;
}

.lst_item:hover + * {
    filter: brightness(0.75);
    transform: translateZ(130px) rotateY(30deg);
    opacity: 0.8;
}


.lst_item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg); 
    opacity: 0.7;
}

.lst_item:hover + * + * + * {
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(5deg);
    opacity: 0.5;
}

.lst_item:has(+ *:hover){
    filter: brightness(0.75);
    transform: translateZ(130px) rotateY(-30deg);
    opacity: 0.8;
}

.lst_item:has(+ * +*:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
    opacity: 0.7;
}

.lst_item:has(+ * + * +*:hover){
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(-5deg);
    opacity: 0.5;
}


.maintextcontent{
    display: flex;
    gap: 250px;

}
.maintextcontent svg{
    color: aliceblue;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #14181c;
}
.maintextcontent .leftside p{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 62px; 
    font-family: cursive;
    font-weight: bold;
       
}

.maintextcontent .rightside p{
    
    color: aliceblue;
    
}

.maintextcontent .rightside h2{
    color: aliceblue;
    padding-right: 20px;
    padding-left: 40px;
    scale: 1.25;
    margin-bottom: 15px;
    
}
.maintextcontent .rightside{
    font-family: monospace;
    width: 350px;
    text-align: center;
    font-weight: bold;
    font-style: italic ;
    margin-top: 50px;
    border: 4px solid aliceblue;
    height: 200px;
    margin-bottom:30px;
    padding: 10px;
    border-color: chocolate;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #14181c;

}
.asmbtn{
    scale: 2.3;
    border: none;
    border-radius:7px ;
    background-color:#FE003A;
    color: white;
    padding: 7px 15px;
    margin-left: 700px;
    margin-top: 45px;
    transition: ease-out 0.3s ;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
    animation-duration: 0.3s;

    
}
.asmbtn:hover{
    background-color: #F7E203;
    scale: 2.5;
}
.speciescards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px ;
    column-gap: 10px;
    
}
.speciescards .carditem{
    color: white;
    font-size: larger;
    border: 3px solid ;
    position: relative;
    border-radius: 8px;
    width: 600px;
    text-align: center;
    margin-left: 90px;
    height: 250px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    transition-duration: 0.5s ;

}

.speciescards .carditem img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.speciescards .carditem p{
    position:absolute;
top: 0;
Left:0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.4);
display: flex;
justify-content: center;
aLign-items: center;

}

.carditem:hover{
    scale: 0.9;
}

.nextcontenttext{
    background-color: #14181c;
    color: white;
    padding: 1px;

}